<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="EqpName" value="7CCCC03" />
    <add key="DetectModual" value="YOLO-A" />
    <add key="Client-IP" value="192.168.0.197" />
    <add key="Client-Port" value="9000" />
    <add key="Server-IP" value="192.168.0.197" />
    <add key="Server-Port" value="5000" />
    <add key="ImagePath" value="\\HOECD\Image" />
    <add key="LogPath" value="C:\Users\26908\Desktop\EAC-RAC-Pad\vision\C#\Log" />
  </appSettings>
</configuration>